@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/base';


    footer{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        p{
            color:$color-secondary;
        }
        .right{
            margin-left: auto;
            ul{
                margin-left: auto;
                li{
                    list-style-type: none;
                    display: inline;
                   
                   
                    a{
                        text-decoration: none;
                        color:$color-secondary;
                        padding-left: 4px;
                       
                    }
                }
            }
        }
        .line{
            width: 100%;
            height: 2px;
            background-color: $color-secondary;
        }
    }

    .line{
        width: 100%;
        height: 0.5px;
        background-color:$color-secondary;
    }