$color-primary:#e8ecef;
$color-secondary:#737373;
$color-button:#1fab41;
$color-black:#000;
$color-white:#fff;


$font-1:10px;
$font-sm:12px;
$font-md:16px;
$font-lg:20px;


$spacer-0: 0;
$spacer-1:auto;
$spacer-2:8px;
$spacer-3:16px;
$spacer-4:24px;
$spacer-5:32px;
$spacer-6:40px;