<div class="container">
    <div class="box">
        <div class="card w-30 mt-3">
            <div class="card-body">
                <h3 class="card-title">HTML</h3>
                <p class="card-text">HTML is the standard markup language for describing the structure of the web
                    pages.Our HTML tutorials will help you to understand the basics of latest HTML5 language,so that you
                    can create your own web pages and website.
                </p>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
        <!-- second -->
        <div class="card w-30 mt-3">
            <div class="card-body">
                <h3 class="card-title">CSS</h3>
                <p class="card-text">CSS is used for describing the presentation of web pages.CSS can save a lot of time
                    and effort.Our CSS tutorials will help you to learn the essentials of latest CSS3,so that you can
                    control the style and layout of your site.
                </p>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>

        <!-- third -->
        <div class="card w-30 mt-3">
            <div class="card-body">
                <h3 class="card-title">Bootstrap</h3>
                <p class="card-text">Bootstrap is a powerful front-end framework for faster and easier web
                    development.Our Bootstrap tutorials will help you to learn all the features of latest Bootstrap 4
                    framework so that you can easily create responsive websites.

                </p>
                <a href="#" class="button">Learn More</a>
            </div>
        </div>
    </div>
    <hr>
</div>

