<div class="container">
    <div class="card w-100 mt-3">
        <div class="card-body">
          <h2 class="card-title">Learn to Create Websites</h2>
          <p class="card-text">In today's world internet is the most popular way of connecting with the people.At <a href="">tutorialrepublic.com</a> <br>
         You will learn the essential web development technologies along with real life practise examples. <br>
         So that you can create your own website to connect with the people around the world.
        
        </p>
          <a href="#" class="button">Get started today</a>
        </div>
      </div>
</div>